<html lang="en">
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'image/travelicon.jpg' %}" alt="">
            Tripozea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_allpackage' %}">packages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'booking_history' %}">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'view_review' %}">My Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_logout' %}">Logout</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_profile' %}"><img style="border-radius: 50%;width: 50px;" src="{{ data.image.url }}" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <table style="width: 95%;" class="table table-hover ms-4 ">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Package</th>
                <th scope="col">Details</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                {% for i in data %}
                <td><img style="border-radius: 50%;width: 50px;" src="{{ i.image.url }}" alt=""></td>
                <td>{{ i.package_name }} by {{ i.agency_id.name }}</td>
                <td><button><a href="{% url 'user_packageview' id=i.id %}">View</a></button></td>
                <td><button><a href="{% url 'user_booking' id=i.id %}">book</a></button></td>
                <td><button><a href="{% url 'write_review' id=i.id %}">Write review</a></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
</body>
</html>