<html lang="en">
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add package</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'image/travelicon.jpg' %}" alt="">
            Tripozea</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_packages' %}">packages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_bookings' %}">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_package' %}">Add packages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_reviews' %}">View Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_logout' %}">Logout</a> 
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'agency_profile' %}"><img style="border-radius: 50%;width: 50px;" src="{{ data.image.url }}" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <form action="add_package" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="package_name" placeholder="Package Name"> <br>
            <input type="text" name="place" placeholder="Place"> <br>
            <input type="text" name="start_place" placeholder="Start Place"> <br>
            <input type="tect" name="end_place" placeholder="End Place"><br>
            <textarea name="about" placeholder="About"></textarea> <br>
            <!-- <input type="text" name="about" placeholder="About"> <br>  -->
            <textarea name="description" placeholder="Description"></textarea> <br>
            <!-- <input type="text" name="description" placeholder="Description"> <br> -->
            <input type="text" name="days" placeholder="Days"> <br>
            <input type="text" name="price_adult" placeholder="Price Adult"> <br>
            <input type="text" name="price_children" placeholder="Price Children"> <br>
            <label >Main image</label>
            <input type="file" name="image1"><br>
            <label >Image2</label>
            <input type="file" name="image2"><br>
            <label >Image3</label>
            <input type="file" name="image3"><br>
            <label >Image4</label>
            <input type="file" name="image4"><br>
            <input type="submit" value="submit"> <br>
        </form>
      </div> 
</body>
</html>